<!DOCTYPE html>
<!--
    HTML

        HYPERTEXT
            
            hipertexto

        MARKANP

            marcaçao por <tegs>

        LINGUIGE

                uma linguagen de programaçao

-->
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{orphanege.name}}/Happy</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <link rel="icon" href=".//images/logo-icon.png">

    <link rel="stylesheet" href=".//css/main.css">
    <link rel="stylesheet" href=".//css/aniamation.css">
    <link rel="stylesheet" href=".//css/sidebar.css">
    <link rel="stylesheet" href=".//css/map.css">
    <link rel="stylesheet" href=".//css/button.css">
    <link rel="stylesheet" href=".//css/page-orphanege.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="page-orphanege">
        <aside class="sidebar">
            <img src="/images/map-marker.svg" alt="Happy">
            <footer>
                <button onclick="history.back()">
                    <img src="/images/arrow-back.svg" alt="voltar">
                </button>
            </footer>
        </aside>

        <main class="with-sidebar">
            <div class="orphanage-detalis">
                <img src="{{orphanege.firstImage}}" alt="{{orphanege.name}}">

                <div class="images">
                    {{#each orphanege.images}}
                    <button onclick="selectImages(event)" class="active" type="button">
                        <img src="{{this}}" alt="{{orphanege.name}}">
                    </button>
                    {{/each}}
                </div>

                <div class="orphanage-detalis-contener">
                    <h1>{{orphanege.name}}</h1>
                    <p>
                        {{orphanege.about}}
                    </p>
                    <div class="map-contener">
                        <div id="mapid"></div>
                        <span data-lat="{{orphanege.lat}}" data-lng="{{orphanege.lng}}"></span>
                        <footer>
                            <a target="_blank"
                                href="https://maps.google.com/mobile?q={{orphanege.lat}},{{orphanege.lng}}&z=15">ver
                                orfanato no Google map</a>
                        </footer>
                    </div>

                    <hr>


                    <h2>Instruções para visita</h2>
                    <p>{{orphanege.instructions}}</p>

                    <div class="open-detalis">
                        <div class="hors">
                            <img src="/images/clock.svg" alt="horasrios">
                            {{orphanege.opening_hours}}
                        </div>
                        {{#if orphanege.open_on_weekends}}
                            <div class="open-on-weekends">
                                <img src="/images/info.svg" alt="">
                                atendemos fim de samanas
                            </div>
                            {{else}}
                            <div class="open-on-weekends-close">
                                <img src="/images/info-red.svg" alt="">
                                Não atendemos finais de semana
                            </div>

                        {{/if}}
                    </div>

                    <a target="_blank" href="https://api.whatsapp.com/send?l=pt_BR&phone={{orphanege.whatsapp}}"
                        class="pryme-button" type="button">
                        <img src="/images/whatsapp.svg" alt="chamar no whatsapp">
                        entra em contado
                    </a>
                </div>


            </div>
        </main>
    </div>
    <script src=".//script/page-orphanage.js"></script>
    <script src=".//script/map.js"></script>
</body>

</html>